{% extends "base.html" %}

{% block title %}
  Registration
{% endblock %}

{% block content %}

<section>
  
  <div class="container w-25">

    <div class="main-area row align-items-center">  
      
      <div class="title"><h1 align="center">Registration</h1></div>
      <div class="col-10">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="POST">
          <table>
            <tr>
              <td>Login</td>
              <td><input type="text" name="login" class="form-control name_list"/></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" name="password" class="form-control name_list"/></td>
            </tr>
            <tr>
              <td>rePassword</td>
              <td><input type="password" name="password2" class="form-control name_list"/></td>
            </tr>
            <tr>
              <td><a class="form-control name_list" href="{{ url_for('login') }}">Login</a></td>
              <td><div class="col-xs-6"><input type="submit" value="Register" class="form-control name_list"/></div></td>
            </tr>
          </table>
        </form>
      </div>
  
    </div>
    
  </div>

</section>
{% endblock %}