{% extends 'base.html' %}


{% block title %}
  Calc
{% endblock %}


{% block styles %}
<style type="text/css">
  .result {
    font-size: 40px;
    text-align: center;
  }
</style>
{% endblock %}


{% block content %}
<div class="head">
    <div class="result" >Your result matrix =</div>
</div>
<div class="matrix-print d-flex justify-content-center">
    <div class="matrix col-2">
        <table class="table">
            <tbody>
              {% for i in range(rows) %}
              <tr>
                {% for j in range(cols) %}
                  <td><h3>{{ matrix[i][j] }}</h3></td>
                {% endfor %}
              </tr>      
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}