
{% extends "base.html" %}


{% block title %}
  Home Page
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<section>

  <div class="container w-75  ">

    <div class="row align-items-center">

      <div class="title"><h1 align="center">Matrix calculate</h1></div>
      
      <div class="col-1 matr-size">
        <h4>Size:</h4>
        <div class="col-xs-6"><input class="form-control name_list" type="text" name="a[]" size="2"></div>
        <div class="col-xs-6"><input class="form-control name_list" type="text" name="a[]" size="2"></div>
        <div class="col-xs-6"><button class="form-control name_list" size="2">Ok</button></div>          
      </div>
      <div class="col-4 matr">
        <form method="POST" action="/calc">
          <div class="matr-1">
            <table class="table">
              <tbody>
                <tr>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                </tr>
                <tr>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                </tr>
                <tr>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num1[]" placeholder="num" class="form-control name_list"/></div></td>
                </tr>
              </tbody>
            </table>
          </div>
        
      </div>

      <div class="col-2 operations">
        <div class="col-xs-6"><input value="➕" class="form-control name_list" type="submit" name="oper" size="2"></div>
        <div class="col-xs-6"><input value="✖" class="form-control name_list" type="submit" name="oper" size="2"></div>
        <div class="col-xs-6"><input value="➖" class="form-control name_list" type="submit" name="oper" size="2"></div>
      </div>

      <div class="col-4 matr">
        
          <div class="matr-2">
            <table class="table">
              <tbody>
                <tr>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                </tr>
                <tr>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                </tr>
                <tr>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                  <td><div class="col-xs-6"><input type="text" name="num2[]" placeholder="num" class="form-control name_list"/></div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="col-1 matr-size">
        <h4>Size:</h4>
        <div class="col-xs-6"><input class="form-control name_list" type="text" name="a[]" size="2"></div>
        <div class="col-xs-6"><input class="form-control name_list" type="text" name="a[]" size="2"></div> 
        <div class="col-xs-6"><button class="form-control name_list" size="2">Ok</button></div>                  
      </div>
    </div>


    
  </div>
</section>
{% endblock %}

