{% extends "base.html" %}


{% block title %}
  Mode
{% endblock %}


{% block headright %}
<button disabled type="button" class="btn btn-secondary" type="submit">Hi! {{ userName }}</button>
<form action="/logout">
  <div class="logout"><input value="LogOut" class="form-control name_list" type="submit" name="oper" size="2"></div>
</form>
{% endblock %}


{% block content %}
<div class="container w-25">

  <div class="main-area row align-items-center">  
    <div class="message">
      <h5>Please select one matrix mode if you want to do smth with one matrix <br/>
        and two matrix mode if you want to summ, multiply and etc with two matrixes
      </h5>
    </div>
    <form action="/tables" method="POST">
      <div class="col-xs-6"><input value="one matrix" class="form-control name_list" type="submit" name="choose" size="2"></div>
      <div class="col-xs-6"><input value="two matrixes" class="form-control name_list" type="submit" name="choose" size="2"></div>
    </form>

  </div>

</div>
{% endblock %}